{% extends "global/base.html" %}
{% block main %} 
{% if form.errors %}

{% endif %}


{% if next %}
{% if user.is_authenticated %}
  <p>Sua conta não tem acesso a esta página. Para prosseguir,
    faça login com uma conta que tenha acesso.</p>

{% endif %}
{% endif %}

{% load static %}
<link rel="stylesheet" href='{% static "global/css/login.css" %}' />
<link
href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
rel="stylesheet"
/>
<link
rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
/>
  <main>
    <div class="container" id="container">
      <div class="form-container sign-up">
        <form method="post" action="{% url 'criarUser' %}">
          {% csrf_token %}

          <h1>Crie uma conta</h1>
          
          <span> Use o seu email e nome de usuario para se registrar.</span>
          <input type="text" name="name" placeholder="Nome" />
          <input type="email" name="email" placeholder="Email" />
          <input type="password" name="password" placeholder="Senha" />
          <button class"criar">Registrar</button>
        </form>
      </div>
      <div class="form-container sign-in">
        <form  method="post" action="{% url 'login' %}" class="form-control">
          {% csrf_token %}
          <h1>Acessar</h1>
          <span>Use seu nome de usuario e senha para acessar ao site.</span>
          <input name="username" placeholder="usuário" type="text" required />
          <input name="password" placeholder="senha" type="password" required />
          <a href="{% url 'password_reset' %}">Esqueceu sua senha?</a>
          <button type="submit" value="login" class="login">Login</button>
          <input type="hidden" name="next" value="{{ next }}" />



        </form>
      </div>
      <div class="toggle-container">
        <div class="toggle">
          <div class="toggle-panel toggle-left">
            <h1>Bem-vindo de volta!</h1>
            <p>Acesse sua conta para usar todos os recursos do site.</p>
            <button class="hidden" id="login">Entrar</button>
          </div>
          <div class="toggle-panel toggle-right">
            <h1>Olá, Amigo!</h1>
            <p>
              Registre-se para acessar todos as ferramentas do site.
            </p>
            <button class="hidden" id="register">Cadastrar</button>
          </div>
        </div>
      </div>
    </div>

    <script src="{% static 'global/js/script.js' %}"></script>
  </main>

{% endblock main %}

