{% load static %}
<footer>
    <section class="footer-contact">
      <div class="contact">
        <h2>Contato</h2>
        <p>
          <strong>Email:</strong>
          <a href="mailto:saborm@gmail.com">saborm@gmail.com</a>
        </p>
        <p>
          <strong>Telefone:</strong>
          <a href="tel:+55(21)99110-0654">(21) 99110-0654</a>
        </p>
      </div>
    </section>
    <section class="name">
      <h2>Sabor Maneiro</h2>
    </section>
    <section class="social-midia">
      <h2>Redes-Sociais</h2>
      <nav class="links-rodape">
        <ul>
          <li>
            <a href="https://www.instagram.com" target="_blank">
              <i class="fa-brands fa-instagram"></i
            ></a>
          </li>

          <li>
            <a href="https://facebook.com" target="_blank">
              <i class="fa-brands fa-facebook-f"></i>
            </a>
          </li>

          <li>
            <a
              href="https://www.tiktok.com/upload?lang=pt-BR"
              target="_blank"
            >
              <i class="fa-brands fa-tiktok"></i>
            </a>
          </li>
        </ul>
      </nav>
    </section>
  </footer>