{% load static %}
<header>
  <div class="logo">
    <img src="{% static "global/img/header/logotipo.jpg" %}" alt="Logo do
    Restaurante" />
  </div>
  <nav class="menu">
    <ul>
      <li><a href="{% url 'home' %}">Home</a></li>

      <li><a href="{% url 'historia' %}">Nossa história</a></li>

      <li><a href="{% url 'galeria' %}">Galeria</a></li>

      <li class="menu_pedido">
        <a href="{% url 'order' %}">Faça seu pedido</a>
      </li>

      {% if user.is_authenticated %}

      <li class="nav-item">
        <span class="nav-link active"
          ><i class="fa-solid fa-user"></i>{{ user.get_username }}</span
        >
        <form method="post" action="{% url 'logout' %}">
          {% csrf_token %}
          <button type="submit" class="btn btn-link nav-link active">
            <i class="fa-solid fa-lock"></i> Logout
          </button>
        </form>
      </li>
      <li class="nav-item"></li>
      {% else %}
      <li class="nav-item">
        <a
          class="nav-link active"
          aria-current="page"
          href="{% url 'login'%}?next={{request.path}}"
          >Login</a
        >
      </li>
      {% endif %}
    </ul>
  </nav>
</header>
