{% extends "global/base.html" %}


{% block  main%}

{% load static %}
<link rel="stylesheet" href='{% static "global/css/order.css" %}'>

<main>
  
    <div class="container">
      <!-- Categorias -->
      <div class="categories">
        <a href="?categoria=" class="category-btn active">Todos</a>
        <a href="?categoria=LAN" class="category-btn">Lanches</a>
        <a href="?categoria=PTP" class="category-btn">Pratos Principais</button>
        <a href="?categoria=BEB" class="category-btn">Bebidas</button>
        <a href="?categoria=SOB" class="category-btn">Sobremesas</button>
        <a href="?categoria=COM" class="category-btn">Combos</button>
      </div>


      
      <!-- Itens do Menu -->
      <div class="menu-grid">
        {% for produto in produtos %}
        <!-- Item 1 -->
        <div class="menu-item">
          <img
            src="{{ produto.foto_produto_url }}"
            alt="{{ produto.nome_produto }}"
            class="item-image"
          />
          <div class="item-info">
            <h3 class="item-title">{{ produto.nome_produto }}</h3>
            <p class="{{ produto.desc_produto }}">
              {{ produto.desc_produto }}
            </p>
            <div class="item-footer">
              <span class="item-price">{{produto.preco_produto}}</span>
              <button class="add-to-cart">Adicionar</button>
            </div>
          </div>
        </div>
        {% endfor %}
        
      </div>
        

    <!-- Carrinho de Compras -->
    <div class="cart-container">
      <div class="cart-btn">
        <i class="fas fa-shopping-cart"></i>
        <span class="cart-count">0</span>
      </div>
    </div>
    <div class="cart-modal" id="cartModal">
      <div class="cart-modal-content">
        <div class="cart-modal-header">
          <h3>Seu Carrinho</h3>
          <button class="close-modal">&times;</button>
        </div>
        <div class="cart-items" id="cartItems">
          <!-- Itens serão adicionados dinamicamente aqui -->
          <div class="empty-cart-message">Seu carrinho está vazio</div>
        </div>
        <div class="cart-summary">
          <div class="cart-total">
            <span>Total:</span>
            <span class="total-price">{{ produto.desc_produto }}</span>
          </div>
          <button class="checkout-btn">Finalizar Pedido</button>
        </div>
      </div>
    </div>
  </main>
  <script src="{% static 'global/js/script.js' %}"></script>
{% endblock main%}